body {
    background: burlywood;
}
header{
    text-align: center;
    color: black;
}
section#corpo {
    width: 700px;
    background: white;
    margin: auto;
    border-radius: 30px;
    padding: 15px;
}
div#entrada {
    font: normal 16pt Arial;
    margin: auto;
}
#botao-adicionar, #botao-finalizar {
    font: normal 14pt Arial;
    border-radius: 5px;
}
#num {
    width: 200px;
    height: 20px;
    font: normal 14pt Arial;
}
select#numeros {
    font: normal 14pt Arial;
    width: 250px;
}
footer {    
    padding-top: 15px;
    text-align: center;
    font-size: 16pt;
}
div#saida {
    font: normal 14pt Arial;
}